body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #555;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #ddd;
    color: black;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
   
    bottom: 0;
    width: 100%;
}

   /* Add CSS styles for image placement */
   #right-image-container {
    float: right; /* Float the container to the right */
    margin: 20px; /* Add some margin for spacing */
  height: 60px;
    
    
   }

#right-image-container img {
    max-width: 40%; /* Make sure the image doesn't exceed its container */
    height: auto; /* Maintain the aspect ratio */
    float: right;
    
 
}

#story,
#mission,
#why-choose,
#services,
#contact {
margin: 20px;
    height:-20%;
    text-align: left;
  


   
}
